<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>


<div th:insert="~{nav :: nav}"></div>
<h1>Name and password</h1>
<p th:text="${message}"></p>

<span id="form" th:if="${message != 'Right!'}">
    <form action="/validate" method="post">
        <fieldset>
            <div>
                 <label for="name">Name</label>
        <input type="text" id="name" name="name">

        <label for="password">Password</label>
        <input type ="password" id="password" name="password">

            </div>

        <input id="button" type="submit" value ="Login">
        </fieldset>

    </form>
</span>
</body>
</html>